<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="wrapper">
      <a class="navbar-brand app-name" href="<%= root_path%>">
        <%= image_tag 'dokoiku.png', alt: 'ドコイク？', class: 'brand-logo' %>
      </a>
    </div>
  </nav>
</header>